body {
    display: flex;
    width: 100%;
    height: 938px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    ;
}
/* Section e Imagem */
.module.image {
    width: 47%;
    background-image: url(../assests/canavial.jpg);
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 885px;
    height: 100%;
    /* box-shadow: 0 2px 9px black; */
}

h1 {
    display: inline;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.02em;
    color: #5A9C67;
}

.module.form {
    width: 50%;
    height: 100% ;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    margin: auto;
}

.sub {
    color: rgba(141, 141, 141, 1);
}

.title {
    margin-bottom: 50px;
}

button {
    cursor: pointer;
    width: 435px;
    height: 65px;
    background: #5A9C67;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

button:active {
    background-color: rgb(76, 131, 87);
}

input,select {
    font-family: 'Poppins';
    letter-spacing: 0.02em;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(90, 156, 103, 1);
    width: 435px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 37px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
} 

a {
    cursor: pointer;
    color: #5A9C67;
}